<!DOCTYPE html>
<html ng-app="mustache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Photobooth</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <style>
      body, html, h1, p{
        margin: 0;
        padding: 0;
      }
      #counter{
        background-color: green;
      }
      .fullscreen{
        height: 50vh;
        width: 100vw;
        padding-top: 50vh;
      }
      .center{
        text-align: center;
      }
      img{
        vertical-align: top;
        margin-left: 25%;
        width: 50%;
        margin-top: -20%;

      }
      .hidden{
        display: none;
      }
    </style>
  </head>
  <body ng-controller="photobooth">
    <div id="counter" class="fullscreen hidden">
      <h1 id="count" class="center"></h1>
    </div>

    <div id="display" class="fullscreen">
      <img src="http://placekitten.com/g/800/500" ng-show="res">
    </div>
    <script>
    var app = angular.module('mustache', []);
    var interval;

    app.controller('photobooth', function($scope, $http){
      document.onclick = sendReq;

      function sendReq(){
        clearInterval(interval);
        document.getElementById('counter').classList.remove('hidden');
        document.getElementById('display').classList.add('hidden');
        var count = 3;
        var el = document.getElementById('count')
        el.innerHTML = count;
        count = 2;
        interval = setInterval(function(){
          if( count == 0){
            $http.get('/photo')
              .success(function(data){
                document.getElementById('counter').classList.add('hidden');
                document.getElementById('display').classList.remove('hidden');
                el.innerHTML = "";
                $scope.res = data;
                clearInterval(interval);
              });
          }else{
            el.innerHTML = count;
            count--;
          }
        }, 1000);
      };
    });

    </script>
  </body>
</html>
