<!DOCTYPE html>
<html ng-app="mustache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Photobooth</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body ng-controller="photobooth">
    <p>Hello world!</p>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script>
    var app = angular.module('mustache', []);

    app.controller('photobooth', function($scope, $http){
      $http.get('/photo')
        .success(function(data){
          alert("tjoho!")
        })
    });
    </script>
  </body>
</html>
